<template>
  <h2>Container</h2>

  <h3>Common layouts</h3>
  <div class="example">
    <el-container>
      <el-header>Header</el-header>
      <el-main>Main</el-main>
    </el-container>
  </div>

  <div class="example">
    <el-container>
      <el-header>Header</el-header>
      <el-main>Main</el-main>
      <el-footer>Footer</el-footer>
    </el-container>
  </div>

  <div class="example">
    <el-container>
      <el-aside width="200px">Aside</el-aside>
      <el-main>Main</el-main>
    </el-container>
  </div>

  <div class="example">
    <el-container>
      <el-header>Header</el-header>
      <el-container>
        <el-aside width="200px">Aside</el-aside>
        <el-main>Main</el-main>
      </el-container>
    </el-container>
  </div>

  <div class="example">
    <el-container>
      <el-header>Header</el-header>
      <el-container>
        <el-aside width="200px">Aside</el-aside>
        <el-container>
          <el-main>Main</el-main>
          <el-footer>Footer</el-footer>
        </el-container>
      </el-container>
    </el-container>
  </div>

  <div class="example">
    <el-container>
      <el-aside width="200px">Aside</el-aside>
      <el-container>
        <el-header>Header</el-header>
        <el-main>Main</el-main>
      </el-container>
    </el-container>
  </div>

  <div class="example">
    <el-container>
      <el-aside width="200px">Aside</el-aside>
      <el-container>
        <el-header>Header</el-header>
        <el-main>Main</el-main>
        <el-footer>Footer</el-footer>
      </el-container>
    </el-container>
  </div>

  <div class="example">
    <el-container>
      <el-main>Main</el-main>
      <el-aside width="200px">Aside</el-aside>
    </el-container>
  </div>

  <div class="example">
    <el-container>
      <el-header>Header</el-header>
      <el-container>
        <el-main>Main</el-main>
        <el-aside width="200px">Aside</el-aside>
      </el-container>
    </el-container>
  </div>

  <div class="example">
    <el-container>
      <el-header>Header</el-header>
      <el-container>
        <el-container>
          <el-main>Main</el-main>
          <el-footer>Footer</el-footer>
        </el-container>
        <el-aside width="200px">Aside</el-aside>
      </el-container>
    </el-container>
  </div>

  <div class="example">
    <el-container>
      <el-container>
        <el-header>Header</el-header>
        <el-main>Main</el-main>
      </el-container>
      <el-aside width="200px">Aside</el-aside>
    </el-container>
  </div>

  <div class="example">
    <el-container>
      <el-container>
        <el-header>Header</el-header>
        <el-main>Main</el-main>
        <el-footer>Footer</el-footer>
      </el-container>
      <el-aside width="200px">Aside</el-aside>
    </el-container>
  </div>

</template>
  
<style lang="scss">
.example {
  margin-top: 10px;
  margin-bottom: 10px;
}

.el-header,
.el-footer,
.el-main,
.el-aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.el-header,
.el-footer {
  background-color: var(--el-color-primary-light-7);
  color: var(--el-text-color-primary);
  text-align: center;
}

.el-aside {
  background-color: var(--el-color-primary-light-8);
  color: var(--el-text-color-primary);
  text-align: center;
}

.el-main {
  background-color: var(--el-color-primary-light-9);
  color: var(--el-text-color-primary);
  text-align: center;

  height: 150px;
}
</style>

<script setup lang="ts">
import {
  ElContainer,
  ElHeader,
  ElMain,
  ElAside,
  ElFooter,

} from "element-plus";
</script>
