<template>
  <div class="page-index">
    <Logos />
    <Examples />
    <p><NuxtLink to="/features">Features</NuxtLink></p>
  </div>
</template>

<style>
.page-index {
  padding-top: 60px;
  text-align: center;
}
</style>
